[default]
DB_ENCRYPTION_KEY="abcdefghijklmnopqrstuvwxyz123456"
METADATA_TRANSFORMER_SERVICE_API_KEY="1012akmi2004"
ACP_CONFIG_ASSISTANT_SERVICE_API_KEY="1012akmi2004"
ACP_SERVICE_API_KEY="1012akmi2004"
db_url = "acp:akmi2004@localhost:5432"
dmz_header_key = "X-Authorization"
dmz_x_authorization_value = "abcdefghijklmnopqrstuvwxyz123456"
mail_pass = "abcdefghijklmnopqrstuvwxyz123456"
mail_usr = "e.indarto@gmail.com"
mail_to = ["eko.indarto@dans.knaw.nl"]